flask
opencv-python
opencv-python-headless
werkzeug
python-dotenv
pymysql
scikit-image
tensorflow
tensorflow-macos
tensorflow-metal
imutils
pytesseract
easyocr
ultralytics
numpy
Pillow
glob2
matplotlib
scipy
pandas
seaborn
